<!-- app/views/employees/index.html.erb -->
<div 
  data-controller="employees" 
  class="employees-container">
  
  <div 
    data-employees-target="list" 
    class="employees-list">
    <div class="employees-list-header">
      <h2>All Employees</h2>
      <%= link_to 'Add New Employee', new_employee_path, class: 'btn btn-primary' %>
    </div>

    <div>
      <% @employees.each do |employee| %>
        <div 
          id="employee_<%= employee.id %>"
          class="employees-list-item" 
          data-action="click->employees#showEmployee">
          <span 
            data-employee-id="<%= employee.id %>" 
            class="employees-list-item-name <%= employee.active? ? '' : 'inactive' %>">
            <%= employee.name %>
            <% if employee.active? %>
              <span class="employees-list-item-status-active"> - Active</span>
            <% else %>
              <span class="employees-list-item-status-inactive"> - Inactive</span>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="employees-details">
    <div 
      data-employees-target="details"
      id="employee-details"
      class="employees-show-container">
      <!-- Employee details will be loaded here -->
    </div>
    
    <div 
      data-employees-target="editForm">
      <!-- Edit form will be loaded here -->
    </div>
  </div>
</div>
