<td id="day-<%= date.to_s %>" class="day <%= 'current' if date == Date.current %> <%= 'other-month' unless date.month == @month %>">
  <%= link_to schedule_path(date), 
    class: "day-link", 
    data: { 
      action: "click->schedule#loadScheduleEdit" 
    } do %>
    <div class="date-employees">
      <div class="date">
        <div class="date-number <%= 'faded' unless date.month == @month %>"><%= date.day %></div>
      </div>
      <% if date.month == @month %>
        <% schedule ||= Schedule.find_by(date: date) %>
        <div class="employees">
          <% if schedule && schedule.employees.any? %>
            <div class="employee-list">
              <% schedule.employees.each do |employee| %>
                <div class="employee-tag"><%= employee.name %></div>
              <% end %>
            </div>
          <% else %>
            <div class="employee-list">
              <div class="employee-tag empty"></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</td>
